extends layout.pug

block content
  each game in games
    .game-card
      p= game.name
      p= game.genre
      .game-info

block side-content
  h4 Gaming News
    .news
      img(src="#", alt="#")
      p News stuff and words
    .news
      img(src="#", alt="#")
      p News stuff and words
    .news
      img(src="#", alt="#")
      p News stuff and words
