doctype html
html
  head
      block head
        title #{title}
        link(rel='stylesheet' href='/stylesheets/main.css')
        link(rel="stylesheet", href="/stylesheets/form-style.css")
  body
    header
      if locals.authenticated 
       span Hey #{user.screenName}! Lets Game 🎮
       form(action='/users/logout' method='post')
         button(type='submit') Logout
      else 
        .auth-buttons
        a(href="/users/login") Log In
        span |
        a(href="/users/register") Sign Up
      //- span
      //-   img(src="/images/mainLogo.jpg", alt="")   
      h1 Arcade Academy

      
    nav
      ul
        li Top 10
        li New Releases
        li Categories
        li AA Points
        li Play Now

    main
      section

        block content
      aside
        block side-content

    footer
      .contact
        ul Contact
          li Careers
          li Support
          li Invest
      .about
        ul About
          li Terms
          li Privacy
      .social-media
        ul Social Media
          li X
          li X
          li X
