extends layout.pug

include utils.pug

block content
  h2 New GoodGames Account
  +validationErrors(errors)
  form(action="/users/register" method="post")
    legend Sign Up
      input(name="_csrf" type="hidden" value=csrfToken)
      input(name="fullName" value=fullName placeholder="Duke Nukem" required)
      input(name="email"  type="email" placeholder="Dukel@gonuclear.com" required)
      input(name="password"  type="password" required)
      input(name="confirmPassword"  type="password" required)
      input(name="screenName"  placeholder="TheDukinator" required)
      button Submit
      div Profile Picture
        img(src="https://cdn.iconscout.com/icon/premium/png-256-thumb/airplane-2475078-2062395.png", alt="")
      select(name="iconSelector") Pick Your Avatar
        option(data-img_src="https://cdn.iconscout.com/icon/premium/png-256-thumb/airplane-2475078-2062395.png" selected)
          img(src="https://cdn.iconscout.com/icon/premium/png-256-thumb/airplane-2475078-2062395.png", alt="")
        option(style="background-image:url(https://findicons.com/files/icons/1019/sport/256/soccer_ball.png)")
          img(src="https://cdn.iconscout.com/icon/premium/png-256-thumb/airplane-2475078-2062395.png", alt="")
        option(value="")
          img(src="https://cdn.iconscout.com/icon/premium/png-256-thumb/airplane-2475078-2062395.png", alt="")
        option(value="")
          img(src="https://cdn.iconscout.com/icon/premium/png-256-thumb/airplane-2475078-2062395.png", alt="")
        option(value="")
          img(src="https://cdn.iconscout.com/icon/premium/png-256-thumb/airplane-2475078-2062395.png", alt="")
      //- each genre in genres
        //- This is where we would implement genres in either the form of a checkbox or a regular element with addEventListeners
