extends layout.pug 
include utils.pug

block content
  h2 Sign In
  //- Need to define the action 
  +validationErrors(errors)
  form(action="/users/login" method="POST" class="sign-in-form") 
    input(type="hidden" name="_csrf" value=csrfToken)
    div 
      label(for="email") 
      input(type="email" placeholder="email" name="email" value=email required) 
    div 
      label(for="password")
      input(type="password" placeholder="password" name="password" required)
    div.forgot-password
      p Forgot password? Click 
        a(href="#") here
    button Submit


block side-content
  h2 Not a member?
  div.create-account-q
    p Create an account 
      a(href="#") here