extends layout.pug 
include utils.pug 
block content 
  +validationErrors(errors)
  form(action="/users/login" method='post') 
    input(type="hidden" name="_csrf" value=csrfToken)
    label(for="email") 
    input(type="email" name="email" placeholder="Email Address"  required)
    label(for="password") 
    input(type="text" name="password" placeholder="Password" required)
    button Submit 