:root{
  --headerColor: rgb(65, 107, 77);
  --backgroundColor: rgb(53, 56, 53);
  --floatColor: rgb(75, 88, 77);
  --mainColor: rgb(82, 83, 82);
}
 * {
   box-sizing: border-box;
 }

body {
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ============== top section ============== */
header {
  background-color: var(--headerColor);
  height: 100px;
  width: 100%;
  text-align: center;
}
/* .auth-buttons {

}
 header>h1{

} */
nav {
  width: 100%;
}
nav>ul{
  background-color: var(--floatColor);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ============== middle section ============== */
main {
  width:85%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-column-gap: 20px;
  padding: 1rem;
}
section {
  background-color: var(--mainColor);
  grid-column-start: 1;
  grid-column-end: 2;
}
aside {
  background-color: var(--floatColor);
  grid-column-start: 2;
  grid-column-end: 3;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
/* ============== footer section ============== */
footer{
  background-color: var(--floatColor);
  /* position: absolute; */
  margin: 0;
  width: 100%;
  height: 100px;
  /* bottom: 0px; */
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-self: center;
}

.contact, .about, .social-media {
    margin: 0px 20px;
}
