extends layout

block content
  .error-content
    h1= message
    .error-messages
      img(src="/images/brokenControllerScreen.png")
      .errors 
        h2= error.status
        pre #{error.stack}
