extends layout.pug 

block content
  .top 
    .game-image 
    .top-content 
      h2 Title 
      <p>Studio - <span>XX/XX/XXXX</span></p>
      <h2>X<span>/10</span></h2>
      p Genres 
      span 
      span 
      span
  .game-description non dolorem ratione sed placeat ea in aut. Reiciendis consequatur minima dolor. Et aut et enim dignissimos illo fugiat eum. Quia sapiente placeat enim est aut. Minima nulla
  a(href=`#`) link
  block reviewContent
  .reviews 
    //- === add all of the review sections here ===
    //- ...........................................
    //- each review in reviews
    //- .review 
    //-   .voter 
    //-   .profile-image
    //-     p 
    //-   .rev-container
    //-     .rev-container-header
    //-       p.username 
    //-       p.rating 
    //-     .rev-content


    if locals.authenticated 
      form(action="") 
      



