doctype html
html
  head
      block head
        title #{title}
        <link href="https://fonts.googleapis.com/css2?family=Abel&family=Teko:wght@300&family=Varela+Round&display=swap" rel="stylesheet">
        link(rel='stylesheet' href='/stylesheets/main.css')
        link(rel="stylesheet", href="/stylesheets/form-style.css")
        link(rel="stylesheet" href="/stylesheets/game-style.css")
        link(rel="stylesheet" href="/stylesheets/game-cards.css")
  body
    header
      div#page-header
        a(href="/" class="title-anchor") 
          h1#page-title Arcade Academy
        if locals.authenticated
          div
            span Hey #{user.screenName}! Lets Game 🎮
            form(action='/users/logout' method='post')
              button(type='submit') Logout
        else
          .auth-buttons
            a(href="/users/login") Log In
            span |
            a(href="/users/register") Sign Up


    nav
      ul
        a(href="/games/topGames" class="nav-bar-button")
          li • Top 10 ○
        a(href="/" class="nav-bar-button")
          li • New Releases ○
        a(href="/games/categories" class="nav-bar-button")
          li • Categories ○
        a(href="/games" class="nav-bar-button")
          li • All Games ○

    main
      section
        block content
      aside
        block side-content

    footer
      .contact
        ul <span>Contact</span>
          li Careers
          li Support
          li Invest
      .about
        ul <span>About</span>
          li Terms
          li Privacy
      .social-media
        ul <span>Social Media</span>
          li ☒ Tweeter
          li ☒ Instacam
          li ☒ Fanbook
