/*================ VARIABLE DECLARATIONS ============== */
p, li, h1, h2, h3, h4, h5, a, span, div, body, html {color: silver}

:root{

    /* main 4 Colors ===============================*/
/*
#222831
#393E46
#FFD369
#EEEEEE

*/

    --backgroundColor: #222831;

    --headerColor: #393E46;
    --floatColor: #393E46;
    --mainColor: #393E46;
    --defaultAndchorColor: #EEEEEE;
    /* light box shadow that surrounds main sections*/
    --mainBoxShadow: rgba(2, 2, 2, 0.7);
    --mBSSpread: 6px;
    

    /* Main Font Colors ===============================*/
    --main-font-yellow1:#FFD369;
    --main-font-yellow2:#FFD369;
    --main-font-grey1:silver;
    --main-font-grey2:rgb(167, 168, 164);
    /* Neon Lighting (glowing) ===============================*/
    --neonColor: #FFD369;
    --neonColor2:#FFD369;
    /* Username Neon */
    --userNeonColor: #4a81f8;


    /* Footer ===============================*/
    /* footer background color: see "--floatColor" */
    --footerFontColor1: var(--main-font-yellow1);
    --footerFontColor2: var(--main-font-yellow2);


    /*============================================*/
    /* =========== Profile Card ===================*/
    --player-name-glow: #4a81f8;
    --logout-btn: #4a81f862;
    --logout-btn-border:2px solid #4a81f863;
    /*Gradients for logged-in user card ==============*/
    --userCardBack:#537895;
    --gradColor1: #537895;
    --gradColor2: #09203f;


   
    /*=================================================*/
    /* =========== User Profile Page Colors ============*/
    --dividerGreen: rgb(76, 161, 42);
    --userProfileSN: var(--main-font-yellow2);
    --profPageRevContentTitle: var(--main-font-yellow2);
    --profPageRevContent: var(--main-font-grey1);

    --genreTagFont: rgb(76, 161, 42);
    --genreTagBackground:rgb(36, 36, 36);
    
    --sectionDivBackground: rgb(73, 143, 85);
    --sectionDivFont: black;

    /*=================================================*/
    /* =========== User Profile Page Colors ============*/
    --noRevsYet: var(--main-font-grey2);
  
  
    /*=================================================*/
    /* =========== SearchBar Colors ===================*/
    --search-input-bg: var(--headerColor);
    --search-btn-bc-all: var(--headerColor);
    --search-btn-box-shadow: 0 0 10px 2px var(--neonColor);
    --search-btn-bc: var(--floatColor);
    /* SearchBar Font Colors */
    --search-font-color: var(--profPageRevContent);
    --search-font-color-hover: var(--neonColor);
    --search-input-font: var(--search-font-color);
    
}
