
p { color: var(--main-font-grey1); font-family: Arial, Helvetica, sans-serif; }

/*================ VARIABLE DECLARATIONS ============== */
:root{
    /* main 4 Colors ===============================*/
    --headerColor: rgb(19, 12, 17);
    --backgroundColor: rgb(22, 22, 22);
    --floatColor: rgb(54, 38, 49);
    --mainColor: rgb(46, 36, 43);
    --defaultAndchorColor: rgb(164, 141, 165);
    /* light box shadow that surrounds main sections*/
    --mainBoxShadow: rgba(2, 2, 2, 0.7);
    --mBSSpread: 6px;
    

    /* Main Font Colors ===============================*/
    --main-font-yellow1:rgb(164, 141, 165);
    --main-font-yellow2:rgb(142, 113, 143);
    --main-font-grey1:silver;
    --main-font-grey2:rgb(167, 168, 164);
    /* Neon Lighting (glowing) ===============================*/
    --neonColor: #d622be;
    --neonColor2:#a1298d;
    /* Username Neon */
    --userNeonColor: rgb(162, 62, 243);


    /* Footer ===============================*/
    /* footer background color: see "--floatColor" */
    --footerFontColor1: var(--main-font-yellow1);
    --footerFontColor2: var(--main-font-yellow2);


    /*============================================*/
    /* =========== Profile Card ===================*/
    --player-name-glow: #4a81f8;
    --logout-btn: #4a81f862;
    --logout-btn-border:2px solid #4a81f863;
    /*Gradients for logged-in user card ==============*/
    --userCardBack:#537895;
    --gradColor1: #537895;
    --gradColor2: #09203f;

    --genreTagFont: var(--neonColor);
    --genreTagBackground:rgb(36, 36, 36);

    --sectionDivBackground: var(--main-font-yellow2);
    --sectionDivFont: var(--mainColor);

    /*=================================================*/
    /* =========== User Profile Page Colors ============*/
    --dividerGreen: var(--genresTextColor);
    --userProfileSN: var(--main-font-yellow2);
    --profPageRevContentTitle: var(--main-font-yellow2);
    --profPageRevContent: var(--main-font-grey1);
    

    /*=================================================*/
    /* =========== User Profile Page Colors ============*/
    --noRevsYet: var(--main-font-grey2);
  
  
    /*=================================================*/
    /* =========== SearchBar Colors ===================*/
    --search-input-bg: var(--headerColor);
    --search-btn-bc-all: var(--headerColor);
    --search-btn-box-shadow: 0 0 10px 2px var(--neonColor);
    --search-btn-bc: var(--floatColor);
    /* SearchBar Font Colors */
    --search-font-color: var(--profPageRevContent);
    --search-font-color-hover: var(--neonColor);
    --search-input-font: var(--search-font-color);
    
}
