/* ======== Color Variables =======*/
:root{
  /* Main Section*/
  --headerColor: rgb(251, 247, 203);
  --backgroundColor: rgb(250, 250, 238);
  --floatColor: rgb(241, 241, 241);
  --mainColor: rgb(255, 255, 255);
  --footerColor: rgb(251, 247, 203);

  --neonColor: #472e0d;
  --neonColor2:#472e0d;
  --userNeonColor: rgb(202, 153, 17);

  --mainBoxShadow: rgba(2, 2, 2, 0.4);
  --mBSSpread: 6px;
  
  /* User Profile Page*/
  --dividerColor: rgb(119, 89, 42);
  --dividerColor2: rgb(92, 65, 39);
  --dividerFontColor: rgb(250, 233, 179);

  --genresTextColor:rgb(250, 200, 92);
  --genresBackColor:rgb(61, 61, 61);
}

/*============================================================================*/
/* ======== main.css Styles ==================================================*/
/*============================================================================*/
body {
  background-color: var(--backgroundColor);
}
a{
  color:rgb(80, 59, 41);
  font-family: Arial, Helvetica, sans-serif;
}
ul>span{
  font-weight: 600;
}

/* ========= top section ========= */
header {
  background-color: var(--headerColor);
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
}
#page-title{
  font-family: 'Varela Round', sans-serif;
  opacity: 1;
  color: #ffffff;
  text-shadow:
    0 0 2px #fff,
    0 0 4px var(--neonColor),
    0 0 6px var(--neonColor),
    0 0 8px var(--neonColor),
    0 0 10px var(--neonColor),
    0 0 12px var(--neonColor),
    0 0 14px var(--neonColor),
    0 0 15px var(--neonColor);
}
nav>ul{
  background-color: var(--floatColor);
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
}
.nav-bar-button {
  font-family: 'Varela Round', sans-serif;
  opacity: 75%;
  padding: 0 3px 0 3px;
  color: #fff2f4;
  text-decoration: none;
  text-shadow:
    0 0 2px #fff,
    0 0 4px var(--neonColor),
    0 0 6px var(--neonColor),
    0 0 8px var(--neonColor),
    0 0 10px var(--neonColor),
    0 0 12px var(--neonColor),
    0 0 14px var(--neonColor);
}
.nav-bar-button:hover{
  opacity: 1;
  color: #ffffff;
  text-shadow:
    0 0 2px #fff,
    0 0 4px var(--neonColor2),
    0 0 6px var(--neonColor2),
    0 0 8px var(--neonColor2),
    0 0 10px var(--neonColor2),
    0 0 12px var(--neonColor2),
    0 0 14px var(--neonColor2),
    0 0 15px var(--neonColor2);
}
.nav-user-profile-button{
  text-shadow:
    0 0 2px #fff,
    0 0 4px var(--userNeonColor),
    0 0 6px var(--userNeonColor),
    0 0 8px var(--userNeonColor),
    0 0 10px var(--userNeonColor),
    0 0 12px var(--userNeonColor),
    0 0 14px var(--userNeonColor),
    0 0 15px var(--userNeonColor);
}
.nav-user-profile-button:hover{
  opacity: 1;
  color: #ffffff;
  text-shadow:
    0 0 2px #fff,
    0 0 4px var(--userNeonColor),
    0 0 6px var(--userNeonColor),
    0 0 8px var(--userNeonColor),
    0 0 10px var(--userNeonColor),
    0 0 12px var(--userNeonColor),
    0 0 14px var(--userNeonColor),
    0 0 15px var(--userNeonColor);
}

/* ========== middle section ============ */

section {
  background-color: var(--mainColor);
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
}
aside {
  background-color: var(--floatColor);
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
}

/*========= error content ================*/
.error-content{
  font-family: 'Courier New', Courier, monospace;
}

/* ======== footer section ============== */
.footer{
  background-color: var(--footerColor);
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
}
.images>img{
  border-radius: 3px;
}
.right>p{
  align-self: flex-end;
}


/* ======================================================================== */
/* ======== user-profile.css styles ======================================= */
/* ======================================================================== */

.no-padding{padding:0; margin: 0;}

/* ================ TOP SECTION ================== */

.user-top {
  border: 4px solid var(--dividerColor);
}
.profile-picture{
  border-radius: 50px;
}
.profile-picture > p{
  font-size: 72pt;
}
.user-name{
  font-size: 30pt;
  margin: 0;
}
.user-stuff{
  color: darkgrey;
}
.genre-title{
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-decoration: underline;
}
.genre{
  font-size: 8pt;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--genresBackColor);
  color:var(--genresTextColor);
}
/* ================ MID ================== */
.divider{
  background-color: var(--dividerColor);
  border-bottom: 1px solid var(--dividerColor2);
} 
.divider>p{
  color: var(--dividerFontColor);
  font-weight: bold;
  font-size: 10pt;
}

/* ================ WTP ================== */

.game-flex-container{
  border-bottom: 1px solid rgb(22, 22, 22, .35);
}
.game-flex-container:last-child{ border-bottom: none; }

.game-preview-info{
  font-size: 18pt;
}
.subform{
  background-color: hotpink;
}
.game-name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-weight: 700;
}

/* ================ PLAYED ================== */
.user-game-preview-containers{
  border-bottom: 1px solid rgb(22, 22, 22, .35);
}
.user-game-preview-containers:last-child{ border-bottom: none; }

/* ================ REVIEWS ================== */
.rev-flex-container{
  border-bottom: 1px solid rgb(22, 22, 22, .35);
}
.game-flex-container:last-child{ border-bottom: none; }

.rev-image {
  border-radius: 10px;
}
.rev-image > h4 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.remove-btn{
  background-color: rgb(175, 10, 10);
  color:rgb(243, 95, 95);
  font-family: 'Varela Round', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 16px;
  border-radius: 2px;
  border: 2px solid rgb(124, 34, 34);
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.3);
  text-align: center;
}

/*=============================================================================*/
/*========= game-style.ccs styles =============================================*/
/*=============================================================================*/

.game-description {
  border-bottom: 1px solid darkgrey;
}

/* ============== reviews section ================*/

#review-textbox {
  background-color: blanchedalmond;
}

#submit-review {
border-radius: 5px;
border: solid black 2px;
background-color: #b7410e;
}

#submit-review:hover {
  background-color: #da571f;
}

.comment {
  border: 1px solid black;
  background-color: blanchedalmond;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #b7410e;
}

/* ============== sidebar section ================*/

/* gaming news sidebar */

.game-preview-containers, .game-genre-containers {
  background-color: rgba(174, 189, 202, 0.096);
  border: 0 solid rgba(108, 126, 141, 0.411);
  border-radius: 10px;
}

.game-preview-img > img, .genre-image > img{
  border-radius: 10px;
}

/*=============================================================================*/
/*========= game-cards.ccs styles =============================================*/
/*=============================================================================*/


.game-card {
  background-color: magenta;
}
.game-info {
  background-color: magenta;
}

/*=============================================================================*/
/*========= form-style.css styles =============================================*/
/*=============================================================================*/

section {
  background-color: var(--mainColor);
}
aside {
  background-color: var(--floatColor)
}
.create-account-q {
  border-top: 1px solid darkgrey;
}
h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sign-in-form, .sign-up-form{
  border-top: 2px solid grey;
}
.sign-in-form>div>input, .sign-up-inputs>input {
  border-radius: 5px;
}

.submit-button {
  font-size: 10pt;
  font-weight: 600;
  color: white;
  background-color: #546e50;
  border-radius: 8px;
  border: 3px solid rgb(58, 68, 58);
}
.submit-button:hover {
  background-color: rgb(87, 131, 22);
}

.sign-up-advert-div {
  border: black solid 1px;
}