main{
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-column-gap: 15px;
}

section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top{
  display: flex;
  flex-direction: rows;
}

.game-image{
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.lFqVj82Ek7m4HgKo2o8migHaHa%26pid%3DApi&f=1");
  width: 30%
}
.game-description{
 width: 100%;
 border-bottom: 1px solid darkgrey;
}


 /* ============== reviews section ================*/
.reviews{
 display: flex;
 flex-direction: columns;
 align-items: center;
}
.review{
  width: 100%;
  grid-template-columns: 10% 20% 70%;
  grid-column-gap: 10px;

}

/* .voter{} */

.game-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

/* gaming news sidebar */
.game-news-container>iframe{
  width: 90%;
  /* height: 15rem; */
}

.all-games{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem;
}

.game-preview-containers, .game-genre.containers {
  background-color: rgba(174, 189, 202, 0.096);
  border: 0 solid rgba(108, 126, 141, 0.411);
  border-radius: 10px;
}

.game-preview-img > img, .genre-image>img{
  height: 150px;
  width: 120px;
  border-radius: 10px;
}

.game-preview-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: -15px;
}

.game-images{
 height: 100%;
 width: 100%;
}
