main{
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-column-gap: 15px;
}

section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
}

.parent-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


#image-col {
  float: left;
  width: 150px;
  text-align: center;
}
.game-cover-container {
  position: relative;
  text-align: center;
}
.game-cover-primary {
  height: 100%;
  width: 100%;
}

.game-cover-primary {
  height: 100%;
  width: 100%;
}

#game-image-tag{
  max-width: 150px;
  margin: 0 auto 10px;
  box-shadow: 0px 8px 8px rgb(7, 20, 32);

}
.game-description {
  text-align: left;
  /* display: flex;
  justify-content: center; */
  width: 80%;
}


 /* ============== reviews section ================*/
 .review-form-div {
    width: 90%;
    border-top: 2px solid rgb(73, 69, 69);
 }

 #review-form {
   display: grid;
   grid-template-rows: 1fr 3fr 1fr;
   grid-template-columns: auto;
   grid-template-areas:
   "a"
   "b"
   "c";
   grid-gap: 1rem;
 }

 #review-form-title {
  opacity: 75%;
  color: #fff2f4;
  text-decoration: none;
  text-shadow:
  0 0 2px #fff,
  0 0 4px var(--neonColor),
  0 0 6px var(--neonColor),
  0 0 8px var(--neonColor),
  0 0 10px var(--neonColor),
  0 0 12px var(--neonColor),
  0 0 14px var(--neonColor);
  grid-area: 'a';
  justify-self: center;
  margin-top: 1rem;
  margin-bottom: 0;
 }

 #review-form-title:hover{
  list-style:none;
  opacity: 1;
  color: #ffffff;
  text-shadow:
  0 0 2px #fff,
  0 0 4px var(--neonColor2),
  0 0 6px var(--neonColor2),
  0 0 8px var(--neonColor2),
  0 0 10px var(--neonColor2),
  0 0 12px var(--neonColor2),
  0 0 14px var(--neonColor2),
  0 0 15px var(--neonColor2);
  transition: 1s;
}

 #review-textbox {
  grid-area: 'b';
  border-radius: 5px;
  background-color: rgb(58, 68, 58);
  box-shadow: 0px 8px 8px rgb(7, 20, 32);
  /* background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  color: white;
  font: 1.3rem Inconsolata, monospace; */
  opacity: 75%;
  color: #fff2f4;
  text-decoration: none;

  text-shadow:
  0 0 2px #fff,
  0 0 4px var(--neonColor),
  0 0 6px var(--neonColor),
  0 0 8px var(--neonColor),
  0 0 10px var(--neonColor),
  0 0 12px var(--neonColor),
  0 0 14px var(--neonColor);
 }

 #review-textbox:hover {
  background-color: rgb(65, 75, 68);
  box-shadow: 0px 12px 12px rgb(7, 20, 32);
  transition-duration: 1s;
 }

 #submit-review {
  grid-area: 'c';
  border-radius: 5px;
  border: solid black 2px;
  height: 1.3rem;
  justify-self: center;
  background-color: rgb(58, 68, 58);
  box-shadow: 0px 8px 8px rgb(7, 20, 32);
  opacity: 75%;
  color: #fff2f4;
  text-decoration: none;
  text-shadow:
  0 0 2px #fff,
  0 0 4px var(--neonColor),
  0 0 6px var(--neonColor),
  0 0 8px var(--neonColor),
  0 0 10px var(--neonColor),
  0 0 12px var(--neonColor),
  0 0 14px var(--neonColor);
 }

 #submit-review:hover {
  background-color: rgb(65, 75, 68);
  box-shadow: 0px 12px 12px rgb(7, 20, 32);
  transition-duration: 1s;
  opacity: 1;
  color: #ffffff;
  text-shadow:
  0 0 2px #fff,
  0 0 4px var(--neonColor2),
  0 0 6px var(--neonColor2),
  0 0 8px var(--neonColor2),
  0 0 10px var(--neonColor2),
  0 0 12px var(--neonColor2),
  0 0 14px var(--neonColor2),
  0 0 15px var(--neonColor2);
 }



.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27rem;
  height: 15rem;
  overflow: auto;
  border: 2px solid rgb(73, 69, 69);
  border-radius: 8px;
  margin-bottom: 2rem;
}

.comment {
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  overflow: wrap;
  word-wrap: break-word;
  background-color: rgb(211, 215, 219);
  border-radius: 5px;
  box-shadow: 0px 8px 8px rgb(211, 215, 219);
  background-color: rgb(58, 68, 58);
  box-shadow: 0px 8px 8px rgb(7, 20, 32);
  opacity: 75%;
  color: #fff2f4;
  text-decoration: none;
  text-shadow:
  0 0 2px #fff,
  0 0 4px var(--neonColor),
  0 0 6px var(--neonColor),
  0 0 8px var(--neonColor),
  0 0 10px var(--neonColor),
  0 0 12px var(--neonColor),
  0 0 14px var(--neonColor);
}

.comment:hover {
  background-color: rgb(65, 75, 68);
  box-shadow: 0px 12px 12px rgb(7, 20, 32);
  transition-duration: 1s;
  opacity: 1;
  color: #ffffff;
  text-shadow:
  0 0 2px #fff,
  0 0 4px var(--neonColor2),
  0 0 6px var(--neonColor2),
  0 0 8px var(--neonColor2),
  0 0 10px var(--neonColor2),
  0 0 12px var(--neonColor2),
  0 0 14px var(--neonColor2),
  0 0 15px var(--neonColor2);
}
/* ============== sidebar section ================*/
/* .voter{} */

.game-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

/* gaming news sidebar */
.game-news-container>iframe{
  width: 90%;
  /* height: 15rem; */
}

.all-games{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem;
}

.game-preview-containers, .game-genre-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(174, 189, 202, 0.096);
  border: 0 solid rgba(108, 126, 141, 0.411);
  border-radius: 10px;
  width: 10rem;
}
.game-preview-containers:hover{
   box-shadow: 0 0 2px #fff,
   0 0 4px rgba(0, 0, 0, 0.637),
   0 0 6px rgba(0, 0, 0, 0.637),
   0 0 8px rgba(0, 0, 0, 0.637),
   0 0 10px rgba(0, 0, 0, 0.637),
   0 0 12px rgba(0, 0, 0, 0.637),
   0 0 14px rgba(0, 0, 0, 0.637),
   0 0 15px rgba(0, 0, 0, 0.637);
}

.genre-image {
  width: 100%;
}
.game-preview-img{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.game-preview-img > img, .genre-image > img{
  height: 150px;
  width: 100%;
  border-radius: 10px;
}

.game-preview-info, .genre-name {
  display: grid;
  grid-template-rows: 4vw 4vw;
  /* grid-template-columns: 1fr 1fr; */
  /* align-items: center; */
  justify-content: center;
  align-items: center;
  
  /* grid-template-columns: 1fr 1fr; */
}

.game-images{
 height: 100%;
 width: 100%;
}


#profile-picture-select{
  width: 5rem;
  height: 5rem;
}
.profile-pic-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-profile-pic-container{
  display: flex;
  
}