

/*================ VARIABLE DECLARATIONS ============== */
:root{

    /* main 4 Colors ===============================*/
    --headerColor: rgb(39, 42, 40);
    --backgroundColor: rgb(53, 56, 53);
    --floatColor: rgb(56, 65, 58);
    --mainColor: rgb(82, 83, 82);
    --defaultAndchorColor: rgb(187, 199, 77);
    /* light box shadow that surrounds main sections*/
    --mainBoxShadow: rgba(2, 2, 2, 0.7);
    --mBSSpread: 6px;
    
    /* NAVIGATION */
    --nav-text-shadow: 0 0 2px #fff,
    0 0 4px var(--neonColor),
    0 0 6px var(--neonColor),
    0 0 8px var(--neonColor),
    0 0 10px var(--neonColor),
    0 0 12px var(--neonColor),
    0 0 14px var(--neonColor);

    /* Main Font Colors ===============================*/
    --main-font-yellow1:rgb(221, 223, 130);
    --main-font-yellow2:rgb(187, 199, 77);
    --main-font-grey1:silver;
    --main-font-grey2:rgb(167, 168, 164);
    /* Neon Lighting (glowing) ===============================*/
    --neonColor: #98f84a;
    --neonColor2:#98f84a;
    /* Username Neon */
    --userNeonColor: #4a81f8;


    /* Footer ===============================*/
    /* footer background color: see "--floatColor" */
    --footerFontColor1: var(--main-font-yellow1);
    --footerFontColor2: var(--main-font-yellow2);


    /*============================================*/
    /* =========== Profile Card ===================*/
    --player-name-glow: #4a81f8;
    --logout-btn: #4a81f862;
    --logout-btn-border:2px solid #4a81f863;
    /*Gradients for logged-in user card ==============*/
    --userCardBack:#537895;
    --gradColor1: #537895;
    --gradColor2: #09203f;

    --demo-btn-welcome-hover-color: #404040;
    --demo-btn-welcome-hover-bg:white;

    /* =========== Profile Card - non authenticated ===================*/
    --profCard-noAuth-bc: #2f4353;
    --profCard-noAuth-bgrad: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    --profCard-noAuth-color: black;
    --profCard-noAuth-text-shadow: 0 0 2px #fff,
    0 0 4px black,
    0 0 6px black,
    0 0 8px black,
    0 0 10px black,
    0 0 12px black,
    0 0 14px black,
    0 0 15px black;
    --profCard-noAuth-box-shadow: 0 0 2px #fff,
    0 0 4px var(--neonColor),
    0 0 6px var(--neonColor),
    0 0 8px var(--neonColor),
    0 0 10px var(--neonColor),
    0 0 12px var(--neonColor),
    0 0 14px var(--neonColor),
    0 0 15px var(--neonColor);

   
    /*=================================================*/
    /* =========== User Profile Page Colors ============*/
    --dividerGreen: rgb(76, 161, 42);
    --userProfileSN: var(--main-font-yellow2);
    --profPageRevContentTitle: var(--main-font-yellow2);
    --profPageRevContent: var(--main-font-grey1);

    --genreTagFont: rgb(76, 161, 42);
    --genreTagBackground:rgb(36, 36, 36);
    
    --sectionDivBackground: rgb(73, 143, 85);
    --sectionDivFont: black;

    /*=================================================*/
    /* =========== User Profile Page Colors ============*/
    --noRevsYet: var(--main-font-grey2);
  
  
    /*=================================================*/
    /* =========== SearchBar Colors ===================*/
    --search-input-bg: var(--headerColor);
    --search-btn-bc-all: var(--headerColor);
    --search-btn-box-shadow: 0 0 10px 2px var(--neonColor);
    --search-btn-bc: var(--floatColor);
    /* SearchBar Font Colors */
    --search-font-color: var(--profPageRevContent);
    --search-font-color-hover: var(--neonColor);
    --search-input-font: var(--search-font-color);

    
    /*===================================================================*/
    /* =========== Game Preview Containers ================================*/
    
    /* =========== Game Preview Containers - on hover ===================*/
    --game-prev-cont-bs: 0 0 2px #fff,
    0 0 4px rgba(0, 0, 0, 0.637),
    0 0 6px rgba(0, 0, 0, 0.637),
    0 0 8px rgba(0, 0, 0, 0.637),
    0 0 10px rgba(0, 0, 0, 0.637),
    0 0 12px rgba(0, 0, 0, 0.637),
    0 0 14px rgba(0, 0, 0, 0.637),
    0 0 15px rgba(0, 0, 0, 0.637);
    
    
    /*===================================================================*/
    /* =========== Game Genre Containers ================================*/
    /* =========== Game Genre Containers - on hover ===================*/
    --game-genre-cont-bs: none;
    
}

* {
   box-sizing: border-box;
 }

body {
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a{
  color: var(--defaultAndchorColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

li{
  list-style:none;
}
ul>span{
  font-weight: 600;
}

/* ============== top section ============== */
header {
  background-color: var(--headerColor);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12%;
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
}


#page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#page-title{
  font-family: 'Varela Round', sans-serif;
  opacity: 1;
  color: #ffffff;
  font-size: 28pt;
  text-shadow:
    0 0 2px #fff,
    0 0 4px var(--neonColor),
    0 0 6px var(--neonColor),
    0 0 8px var(--neonColor),
    0 0 10px var(--neonColor),
    0 0 12px var(--neonColor),
    0 0 14px var(--neonColor),
    0 0 15px var(--neonColor);
}
.title-anchor{
  text-decoration: none;
}

.profile-card-og{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 7rem;

  /* width: 23rem; */
  min-width: 18rem;
  max-width: 23rem;
  

  border-radius: 10px;
  justify-content: space-between;
  margin: 10px auto;
  margin-right: -5rem;
  background-color: var(--userCardBack);
  background-image: linear-gradient(315deg, var(--gradColor1) 0%, var(--gradColor2) 74%);
}
.profile-card-img{
  /* align-self: flex-start; */
  width: 5rem;
}
.profile-card-img>img{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-left: 1rem;
}
.profile-card-name{
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  max-height: 5rem;
  max-width: 11rem;
  /* border: 2px solid red; */
  justify-content: center;
  padding-left: 1rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
  text-shadow:
    0 0 2px #fff,
    0 0 4px var(--player-name-glow),
    0 0 6px var(--player-name-glow),
    0 0 8px var(--player-name-glow),
    0 0 10px var(--player-name-glow),
    0 0 12px var(--player-name-glow),
    0 0 14px var(--player-name-glow),
    0 0 15px var(--player-name-glow);

}

#anchor-profile-card{
  text-decoration: none;
}

.profile-logout-btn{
  /* border: 4px solid red; */
  height: 100%;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: space-around; */
  /* margin-bottom: 3px; */
  margin-right: 5px;
  color: black;
  text-shadow: 0 0 2px #fff,
    0 0 4px var(--neonColor),
    0 0 6px var(--neonColor),
    0 0 8px var(--neonColor),
    0 0 10px var(--neonColor),
    0 0 12px var(--neonColor),
    0 0 14px var(--neonColor),
    0 0 15px var(--neonColor);
}
.profile-logout-btn > h5{
  padding: 0;
  margin: 0;
  float: right;
  margin-top: 1rem;
}

.profile-logout-btn button{
  border-radius: 20px;
  padding: 3px 6px;
  margin-bottom: 1rem;
  color: black;
  font-weight: bold;
  background: #66ff66;
  border: var(--logout-btn-border);
  background-color: var(--logout-btn);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66ff66', endColorstr='#66ff66', GradientType=0);
}
.profile-logout-btn button:after{
  content: "Logout";
}
.profile-logout-btn button:hover:after{
    content: "✌️";
    cursor: pointer;
}

.auth-buttons{
  margin: 1rem auto;
  display: flex;
  width: 13rem;
  flex-direction: column;
  padding-bottom: 5px;
  gap: 1rem;
  border-radius: 5px;
  background-color: var(--profCard-noAuth-bc);
  background-image: var(--profCard-noAuth-bgrad);
  padding: 1rem 1rem;
  margin-right: -3rem;

  color: var(--profCard-noAuth-color);
  text-shadow: var(--profCard-noAuth-text-shadow);
  box-shadow: var(--profCard-noAuth-box-shadow);
}
.demo-user-btn button{
  border: none;
  background: #404040;
  color: #ffffff ;
  font-weight: 100;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.demo-user-btn button:after{
  content: "Demo User";
}
.demo-user-btn button:hover:after{
  content: "Welcome Demo";
  color: var(--demo-btn-welcome-hover-color);
  font-weight: 700;
  letter-spacing: 3px;
  background: none;
  background-color: var(--demo-btn-welcome-hover-bg);
  transition: all 0.3s ease 0s;
}
.login-anchors{
  /* display: inline; */
  text-decoration: none;
  color: rgba(255, 255, 255, 0.657);
  font-size: 18px;
}
.login-anchors:hover{
  text-shadow: 0 0 2px #fff,
  0 0 4px var(--neonColor),
  0 0 6px var(--neonColor),
  0 0 8px var(--neonColor),
  0 0 10px var(--neonColor),
  0 0 12px var(--neonColor),
  0 0 14px var(--neonColor),
  0 0 15px var(--neonColor);
}
.both-buttons{
  display: flex;
  justify-content: space-around;
}

/* ============== nav section ============== */

nav {
  width: 100%;

  border-radius: 3px;

}
nav>ul{
  background-color: var(--floatColor);
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;
  padding: 0 7%;
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
}

.nav-bar-button {
  list-style:none;
  font-family: 'Varela Round', sans-serif;
  font-size: 13pt;
  opacity: 75%;
  padding: 3px;
  color: #fff2f4;
  text-decoration: none;
  text-shadow: var(--nav-text-shadow);
}
.nav-bar-button:hover{
  list-style:none;
  opacity: 1;
  color: #ffffff;
  text-shadow:
  0 0 2px #fff,
  0 0 4px var(--neonColor2),
  0 0 6px var(--neonColor2),
  0 0 8px var(--neonColor2),
  0 0 10px var(--neonColor2),
  0 0 12px var(--neonColor2),
  0 0 14px var(--neonColor2),
  0 0 15px var(--neonColor2);
}

/* ============== search subsection ============== */

#search-icon {
  font-size: 1rem;
}

#search-icon:hover {
  cursor: pointer;
}

@keyframes formAnimation {
  from {width: 0%;}
  to {width: 30%;}
}

#searchForm {
  width: 30%;
  animation-name: formAnimation;
  animation-duration: 0.5s;
}

#searchTextbox {
  font-family: 'Varela Round', sans-serif;
  width: 100%;
  /* background-color: khaki; */
  color: var(--search-input-font);
  background-color: var(--search-input-bg);
  outline: none;
  border-radius: 0.75rem;
  padding-left: 3.12%;
}

#searchTextbox:hover {
  /* box-shadow: 0px 0px 1rem rgb(204, 41, 226); */
  box-shadow: var(--search-btn-box-shadow);
}

#searchUL {
  position: absolute;
  top: 12rem;
  width: 25.5%;
  height: 12.6rem;
  /*? ht = srchBtnHt(2.1rem) x listAmt(6) ?*/
  padding: 0;
  border-radius: 0.7rem;
  cursor: pointer;
  /* background-color: black; */
}

#searchUL li:first-child button {
  border-top: 0;
}

.allSearchButtons {
    color: var(--search-font-color);
    cursor: pointer;
    border: none;
    background-color: var(--search-btn-bc-all);
    border-radius: 0.2rem;
    width: 100%;
    height: 2.1rem;
    /* border-bottom: 0.15rem darkmagenta solid; */
    border-bottom: 0.15rem var(--neonColor) solid;
    border-radius: 0.75rem;
}


.allSearchButtons:hover {
    color: var(--search-font-color-hover);
    box-shadow: var(--search-btn-box-shadow);
    background-color: var(--search-btn-bc);
    /* box-shadow: 0 0 10px 2px rgb(223, 17, 17);
    background-color: rgb(216, 134, 248); */
}


/* ============== search subsection ============== */

.nav-user-profile-button{
  text-shadow:
  0 0 2px #fff,
  0 0 4px var(--userNeonColor),
  0 0 6px var(--userNeonColor),
  0 0 8px var(--userNeonColor),
  0 0 10px var(--userNeonColor),
  0 0 12px var(--userNeonColor),
  0 0 14px var(--userNeonColor),
  0 0 15px var(--userNeonColor);
}
.nav-user-profile-button:hover{
  list-style:none;
  opacity: 1;
  color: #ffffff;
  text-shadow:
  0 0 2px #fff,
  0 0 4px var(--userNeonColor),
  0 0 6px var(--userNeonColor),
  0 0 8px var(--userNeonColor),
  0 0 10px var(--userNeonColor),
  0 0 12px var(--userNeonColor),
  0 0 14px var(--userNeonColor),
  0 0 15px var(--userNeonColor);
}

/* ============== middle section ============== */
main {
  width:90%;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-column-gap: 20px;
  padding: 0 15%;
}
section {
  background-color: var(--mainColor);
  grid-column-start: 1;
  grid-column-end: 2;
  border-radius: 3px;
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
  margin: auto;
  margin-top: 0;
}
aside {
  background-color: var(--floatColor);
  grid-column-start: 2;
  grid-column-end: 3;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
  max-height: 40rem;
  min-height: 25rem;
  width: 18rem;
  margin-top: 0;

}

/*============== error content ==================*/
.error-content{
  font-family: 'Courier New', Courier, monospace;
  width:90%;
  display: flex;
  flex-direction: column;
  min-height:500px;
}
.error-messages{
  display: flex;
  flex-direction: row;
}
.error-messages>img{
  max-width: 150px;
  margin: 15px;
}
.errors>*{
  display:inline-block;
  overflow-wrap: break-word;
}

/* ============== footer section ============== */
.footer{
  background-color: var(--floatColor);
  /* position: absolute; */
  color: var(--footerFontColor1);
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  min-width: 100%;
  width: 100%;
  min-height: 6rem;
  max-height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
}
.footer span { 
  font-family: Arial, Helvetica, sans-serif;
  color: var(--footerFontColor2); 
  text-decoration: underline;
}
.left {
  padding: 15px 0;
  margin-left: 8%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  justify-content: space-around;
}
.right{
  padding: 15px 0;
  margin-right: 8%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-end;
}
.right>.images{
  display: flex;
  flex-direction:row;
}
.images>img{
  /* background-color: black; */
  margin: 3px;
  border-radius: 3px;
  
  width: 100px;
}
.right>p{
  align-self: flex-end;
  padding: 0px;
  margin-top: 4px;
}
.contact, .about, .social-media {
  margin: 0px 20px;
}
.footer li {padding: 2px;}
.footer li *{
  text-decoration: none;
}
.copywrite{ color: black }


.strike {  
    text-decoration: line-through;
    text-decoration-line: line-through;
    font-family: Arial, Helvetica, sans-serif;
}