:root{
  --headerColor: rgb(39, 42, 40);
  --backgroundColor: rgb(53, 56, 53);
  --floatColor: rgb(56, 65, 58);
  --mainColor: rgb(82, 83, 82);

  --neonColor: #98f84a;
  --neonColor2:#98f84a;
  --userNeonColor: #4a81f8;

  --mainBoxShadow: rgba(2, 2, 2, 0.7);
  --mBSSpread: 6px;
}
 * {
   box-sizing: border-box;
 }

body {
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a{
  color:rgb(187, 199, 77);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

li{
  list-style:none;
}
ul>span{
  font-weight: 600;
}

/* ============== top section ============== */
header {
  background-color: var(--headerColor);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12%;
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
}

#page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#page-title{
  font-family: 'Varela Round', sans-serif;
  opacity: 1;
  color: #ffffff;
  font-size: 28pt;
  text-shadow:
    0 0 2px #fff,
    0 0 4px var(--neonColor),
    0 0 6px var(--neonColor),
    0 0 8px var(--neonColor),
    0 0 10px var(--neonColor),
    0 0 12px var(--neonColor),
    0 0 14px var(--neonColor),
    0 0 15px var(--neonColor);
}
.title-anchor{
  text-decoration: none;
}

.profile-card-og{
  display: flex;
  /* flex-direction: column; */
  height: 7rem;
  width: 23rem;
  
  border-radius: 10px;
  justify-content: space-between;
  margin: 10px auto;
  margin-right: -5rem;
background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
  ;
}
.profile-card-img{
  align-self: flex-start;
  width: 5rem;
}
.profile-card-img>img{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
.profile-card-name{
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  max-height: 5rem;
  max-width: 11rem;
  /* border: 2px solid red; */
  justify-content: center;
  padding-left: 1rem;
  word-wrap: break-word;
  text-shadow:
    0 0 2px #fff,
    0 0 4px #4a81f8,
    0 0 6px #4a81f8,
    0 0 8px #4a81f8,
    0 0 10px #4a81f8,
    0 0 12px #4a81f8,
    0 0 14px #4a81f8,
    0 0 15px #4a81f8;
  
}

#anchor-profile-card{
  text-decoration: none;
}


.profile-logout-btn{
  /* border: 4px solid red; */
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
  color: black;
  text-shadow: 0 0 2px #fff,
  0 0 4px var(--neonColor),
  0 0 6px var(--neonColor),
  0 0 8px var(--neonColor),
  0 0 10px var(--neonColor),
  0 0 12px var(--neonColor),
  0 0 14px var(--neonColor),
  0 0 15px var(--neonColor);
}
.profile-logout-btn button{
  border-radius: 20px;
  padding: 3px 6px;
  color: #000;
  font-weight: bold;
  background: #66ff66;
  border: 2px solid #4a81f863;
  background-color: #4a81f862;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66ff66', endColorstr='#66ff66', GradientType=0);
}
.profile-logout-btn button:after{
  content: "Logout";
}
.profile-logout-btn button:hover:after{
    content: "✌️";
    cursor: pointer;
}

.auth-buttons{
  margin: 1rem auto;
  display: flex;
  width: 13rem;
  flex-direction: column;
  padding-bottom: 5px;
  gap: 1rem;
  border-radius: 5px;
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
  padding: 1rem 1rem;
  margin-right: -3rem;
  
  color: black;
  text-shadow: 0 0 2px #fff,
  0 0 4px black,
  0 0 6px black,
  0 0 8px black,
  0 0 10px black,
  0 0 12px black,
  0 0 14px black,
  0 0 15px black;
  box-shadow: 0 0 2px #fff,
  0 0 4px var(--neonColor),
  0 0 6px var(--neonColor),
  0 0 8px var(--neonColor),
  0 0 10px var(--neonColor),
  0 0 12px var(--neonColor),
  0 0 14px var(--neonColor),
  0 0 15px var(--neonColor);
}
.demo-user-btn button{
  border: none;
  background: #404040;
  color: #ffffff ;
  font-weight: 100;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.demo-user-btn button:after{
  content: "Demo User";
}
.demo-user-btn button:hover:after{
  content: "Welcome Demo";
  color: #404040 ;
  font-weight: 700;
  letter-spacing: 3px;
  background: none;
  background-color: white;
  transition: all 0.3s ease 0s;
}
.login-anchors{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.657);
  font-size: 18px;
}
.login-anchors:hover{
  text-shadow: 0 0 2px #fff,
  0 0 4px var(--neonColor),
  0 0 6px var(--neonColor),
  0 0 8px var(--neonColor),
  0 0 10px var(--neonColor),
  0 0 12px var(--neonColor),
  0 0 14px var(--neonColor),
  0 0 15px var(--neonColor);
}

nav {
  width: 100%;
  
}
nav>ul{
  background-color: var(--floatColor);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 7%;
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
}
/* .dot{
  opacity: 0;
}
.dot:hover{
   opacity: 100;
} */
.nav-bar-button {
  list-style:none;
  font-family: 'Varela Round', sans-serif;
  opacity: 75%;
  padding: 0 3px 0 3px;
  color: #fff2f4;
  text-decoration: none;
  text-shadow:
  0 0 2px #fff,
  0 0 4px var(--neonColor),
  0 0 6px var(--neonColor),
  0 0 8px var(--neonColor),
  0 0 10px var(--neonColor),
  0 0 12px var(--neonColor),
  0 0 14px var(--neonColor);
}
.nav-bar-button:hover{
  list-style:none;
  opacity: 1;
  color: #ffffff;
  text-shadow:
  0 0 2px #fff,
  0 0 4px var(--neonColor2),
  0 0 6px var(--neonColor2),
  0 0 8px var(--neonColor2),
  0 0 10px var(--neonColor2),
  0 0 12px var(--neonColor2),
  0 0 14px var(--neonColor2),
  0 0 15px var(--neonColor2);
}

.nav-user-profile-button{
  text-shadow:
  0 0 2px #fff,
  0 0 4px var(--userNeonColor),
  0 0 6px var(--userNeonColor),
  0 0 8px var(--userNeonColor),
  0 0 10px var(--userNeonColor),
  0 0 12px var(--userNeonColor),
  0 0 14px var(--userNeonColor),
  0 0 15px var(--userNeonColor);
}
.nav-user-profile-button:hover{
  list-style:none;
  opacity: 1;
  color: #ffffff;
  text-shadow:
  0 0 2px #fff,
  0 0 4px var(--userNeonColor),
  0 0 6px var(--userNeonColor),
  0 0 8px var(--userNeonColor),
  0 0 10px var(--userNeonColor),
  0 0 12px var(--userNeonColor),
  0 0 14px var(--userNeonColor),
  0 0 15px var(--userNeonColor);
}

/* ============== middle section ============== */
main {
  width:90%;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-column-gap: 20px;
  padding: 0 15%;
}
section {
  background-color: var(--mainColor);
  grid-column-start: 1;
  grid-column-end: 2;
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
}
aside {
  background-color: var(--floatColor);
  grid-column-start: 2;
  grid-column-end: 3;
  display:flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
  height: 40rem;
  width: 18rem;

}

/*============== error content ==================*/
.error-content{
  font-family: 'Courier New', Courier, monospace;
  width:90%;
  display: flex;
  flex-direction: column;
  min-height:500px;
}
.error-messages{
  display: flex;
  flex-direction: row;
}
.error-messages>img{
  max-width: 150px;
  margin: 15px;
}
.errors>*{
  display:inline-block;
  overflow-wrap: break-word; 
}

/* ============== footer section ============== */
.footer{
  background-color: var(--floatColor);
  /* position: absolute; */
  margin: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 var(--mBSSpread) var(--mainBoxShadow);
}
.left {
  margin-left: 8%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  justify-content: space-around;
}
.right{
  margin-right: 8%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-end;
}
.right>.images{
  display: flex;
  flex-direction:row;
}
.images>img{
  /* background-color: black; */
  margin: 3px;
  border-radius: 3px;

  width: 100px;
}
.right>p{
  align-self: flex-end;
  padding: 0px;
  margin-top: 4px;
}
.contact, .about, .social-media {
    margin: 0px 20px;
}
